.container
  .left-content
    %p.root-path
      = link_to "ブクログ ", root_path, class: "text-link", data: {"turbolinks" => false}
      > キーワードで検索(link:仮) > 検索ワード(仮)
    %h1.search-heading
      本の検索
    #books-search
      = form_tag(search_result_books_path, method: :get) do
        = text_field_tag :info, params[:info], class: "book--search", placeholder: "作品・著者名で検索して本棚登録"
        = submit_tag '', class: "book-search-btn", id: 'book-search-btn-body',style: "display:none;"
      %a.fa.fa-search#book-search--body
    %p.serch-introduction
      まずは商品名、著者名、出版社名などを入力して検索してください。</br>
      例えば...梅沢富美男や 梅沢富美男や 梅沢富美男など。
    %h3.t10M
      = @search_word + "の作品ランキング・新刊情報・電子書籍"
    .item-unit
      %ul.units
        %li.unit
          おすすめ順
        %li.unit
          人気順
        %li.unit
          レビュー数順
        %li.unit
          新刊情報
        %li.unit
          電子書籍
        %li
          ※準備中
    .edit-list
      - @books.each do |book|
        %table.tabletype-edit{data: {id: book.id, title: book.title}}
          %tbody#book-information-area
            %tr.td-item
              %td.td-info
                .book-prof
                  .delete-btn-area
                    - if user_signed_in?
                      - if @user_books.include?(book)
                        %span.book-delete-btn
                          ✕
                  %h3.book-title
                    = link_to book_path(book), class: "book-title-link", data: {"turbolinks" => false} do
                      = book.title
                  .agregate
                    %span.btn-users
                      = book.shelves.length.to_s + "人が登録"
                    / %span.btn-rating
                    /   ★3.20(仮)
                    %span.btn-reviews
                      = book.reviews.where.not(text: blank?).count.to_s + "レビュー"
                  .desc-mini
                    %p.book-info
                      = book.author + " /  本 / " + book.release_year.to_s + "年" + book.release_month.to_s + "月" + book.release_day.to_s + "日 /  ¥ " + book.price.to_s
            %tr.book-registration
              %td.book-cover
                = image_tag(book.image, alt: "?", class: "book-image")
              - if user_signed_in?
                - if @user_books.include?(book)
                  %td.after-add-book-area
                    %ul.edit-tab
                      %li.edit-tab-basic
                        登録情報
                      %li.edit-tab-review
                        レビュー
                    / #edit-area
                    /   .edit-basic-wrapper
                    /     #edit-status-area
                    /       ※準備中
                    .edit-review-wapper
                      = form_for Review.find_by(book_id: book.id, user_id: current_user.id), html: {id: "js-review-form", class: "edit-review-form"} do |f|
                        = f.text_area :text, class: "edit-review-textarea", placeholder: "レビューや感想を書く", rows: "10", cols: "30"
                        .edit-review-btn-area{data: {id: Review.find_by(book_id: book.id, user_id: current_user.id).id}}
                          %span.edit-review-btn#js-review-btn
                            投稿
                - else
                  %td.desc
                    .add-book-area
                      %span.add-book-btn
                        + 本棚に登録
              - else
                %td.desc
                  レビューを見る
    = paginate(@books)
  .right-content
