.container
  .left-content
    %p.root-path
      = link_to "ブクログ ", root_path, class: "text-link"
      > キーワードで検索(link:仮) > 検索ワード(仮)
    %h1.search-heading
      本の検索
    #books-search
      = form_tag(search_result_books_path, method: :get) do
        = text_field_tag :info, params[:info], class: "book--search", placeholder: "作品・著者名で検索して本棚登録"
        = submit_tag '', class: "book-search-btn", id: 'book-search-btn-body',style: "display:none;"
      %a.fa.fa-search#book-search--body
    %p.serch-introduction
      まずは商品名、著者名、出版社名などを入力して検索してください。</br>
      例えば...梅沢富美男や 梅沢富美男や 梅沢富美男など。
    %h3.t10M
      = @search_word + "の作品ランキング・新刊情報・電子書籍"
    .item-unit
      %ul.units
        %li.unit
          おすすめ順
        %li.unit
          人気順
        %li.unit
          レビュー数順
        %li.unit
          新刊情報
        %li.unit
          電子書籍
        %li
          ※準備中
    .edit-list
      - @books.each do |book|
        %table.tabletype-edit{data: {id: book.id}}
          %tbody
            %tr.td-item
              %td.td-info
                .book-prof
                  %h3.book-title
                    = book.title
                  .agregate
                    %span.btn-users
                      = book.shelves.length.to_s + "人が登録"
                    %span.btn-rating
                      ★4.21(仮)
                    %span.btn-reviews
                      10レビュー(仮)
                  .desc-mini
                    %p.book-info.book-author
                      = book.author + " /  本(仮) / " + book.release_year.to_s + "年" + book.release_month.to_s + "月" + book.release_day.to_s + "日 /  ¥ " + book.price.to_s
            %tr.book-registration
              %td.book-cover
                = image_tag(book.image, alt: "?", class: "book-image")
              - if user_signed_in?
                - if @user_books.include?(book)
                  %td.after-add-book-area
                    %ul.edit-tab
                      %li.edit-tab-basic
                        登録情報
                      %li.edit-tab-review
                        レビュ ｜
                    #edit-area
                      .edit-basic-wrapper
                        #edit-status-area
                - else
                  %td.desc
                    .add-book-area
                      %span.add-book-btn
                        + 本棚に登録
                      / %span.after-add-book
                      /   登録しました。
              - else
                %td.desc
                  レビューを見る
    = paginate(@books)
  .right-content
