.container
  .left-content
    %p.root-path
      = link_to "ブクログ ", root_path, class: "text-link"
      = " > " + @book.title
    .book-info-show-area
      %h1.book-title
        = @book.title
      .book-show-area
        .book-image-area
          .book-image
            = image_tag(@book.image, class: "book-show-image")
          .review-add-shelf
            - if user_signed_in?
              - if @shelf.books.include?(@book)
                = link_to edit_review_path(@review) do
                  %span.write-review-btn
                    レビューを書く
              - else
                %span.add-shelf-btn{data: {id: @book.id}}
                  + 本棚に登録
            - else
              = link_to new_user_session_path, class: "redirect-sign-in" do
                %span.add-shelf-btn
                  + 本棚に登録
        .book-info-area
          .book-info-aggregate
            %ul
              %li
                %i.fa.fa-user
                %span.bold
                  = @book.shelves.length
                人登録
              / %li
              /   %i.fa.fa-star
              /   %span.bold
              /     3.20
              /   評価(仮)
              %li
                %i.fa.fa-comment
                %span.bold
                  = @book.reviews.where.not(text: blank?).count
                レビュー
          .book-info-author
            = "著者：" + @book.author
          .book-info-description
            = @book.publisher + " (" + @book.release_year.to_s + "年" + @book.release_month.to_s + "月" + @book.release_day.to_s + "日発売)"
    #review-line
      %h2.under-line
        = @book.title + "の感想・レビュー・評価"
      .review-sort
        %ul
          %li.all-reviews
            ▼全てのレビュー
          %li
            評価★5
          %li
            評価★4
          %li
            評価★3
          %li
            評価★2
          %li
            評価★1 ※仮置き
      %ul.reviews
        - @reviews.each do |review|
          - unless review.text.blank?
            %li.review
              .user-icon-area
                - if review.user.image.blank?
                  = link_to user_path(review.user) do
                    = image_tag("prof_noimage.gif", class: "review-user-img")
                - else
                  = link_to user_path(review.user) do
                    = image_tag(review.user.image, class: "review-user-img")
              .summary
                .user-info-area
                  = link_to user_path(review.user), class: "users-page-link" do
                    = review.user.name + "さん"
                  のレビュー
                .rating-area
                .review-text
                  = simple_format(review.text)
  .right-content
