%header
  .global-navi.global-navi-login.clearFix
    .global-navi-inner
      .global-navi--left
        = link_to root_path do
          - if user_signed_in?
            = image_tag("booklog_top.png", alt: "アイコン", class: "navi-menu top-icon")
          - else
            = image_tag("top-logout.png", alt: "アイコン", class: "navi-menu top-icon")
        %ul.menu--lists
          %li.navi-manu ランキング
          %li.navi-manu 新刊情報
          %li.navi-manu 談話室
          %li.navi-manu まとめ
        %input.book--search--field.navi-manu{:name => "name", :placeholder => "作品・著者名で検索して本棚登録", :type => "text"}/
        %a.fa.fa-search
        .global-navi--right
          - if user_signed_in?
            = link_to current_user.name, profile_users_path(current_user), class: "home-btn link-btn"
            = link_to "本棚", user_path(current_user), class: "home-btn link-btn"
            = link_to "ログアウト", destroy_user_session_path, class: "logout-btn link-btn", method: :delete
          - else
            = link_to "新規登録", new_user_registration_path, class: "registration-btn link-btn"
            = link_to "ログイン", new_user_session_path, class: "login-btn link-btn"
