%header
  .global-navi.global-navi-login.clearFix
    .global-navi-inner
      .global-navi--left
        = link_to root_path do
          - if user_signed_in?
            = image_tag("booklog_top.png", alt: "アイコン", class: "navi-menu top-icon")
          - else
            = image_tag("top-logout.png", alt: "アイコン", class: "navi-menu top-icon")
        %ul.menu--lists
          %li.navi-manu ランキング
          %li.navi-manu 新刊情報
          %li.navi-manu 談話室
          %li.navi-manu まとめ
        = form_tag(search_result_books_path, method: :get) do
          = text_field_tag :info, params[:info], placeholder: "作品・著者名で検索して本棚登録", class: "book--search--field navi-manu"
          = submit_tag '', class: "book-search-btn", id: "book-search-btn-header", style: "display:none;"
          %a.fa.fa-search#book-search--header
          .global-navi--right
            - if user_signed_in?
              - if current_user.image.blank?
                = image_tag("prof_noimage.gif", class: "header-user-iamge")
              - else
                = image_tag(current_user.image, class: "header-user-iamge")
              = link_to profile_users_path(current_user) do
                %i.fa.fa-home.lonk-btn
              = link_to user_path(current_user) do
                %i.fa.fa-book.link-btn
              = link_to "ログアウト", destroy_user_session_path, class: "logout-btn link-btn", method: :delete
            - else
              = link_to "新規登録", new_user_registration_path, class: "registration-btn link-btn"
              = link_to "ログイン", new_user_session_path, class: "login-btn link-btn"
